RewriteEngine On
RewriteCond %{REQUEST_FILENAME} |-f
RewriteCond %{REQUEST_FILENAME} |-d
RewriteRule ^ index.php [QSA,L]
RewriteBase /ETU003285/Farm

# BEGIN GZIP
<iformule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/plain text/xml text/css application/x-javascript application/javascript
</iformule>
# END GZIP